[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
transformers = "*"
sentence-transformers = "*"
faiss-cpu = "*"
numpu = "*"
pandas = "*"
scikit-learn = "*"
tqdm = "*"
matplotlib = "*"
datasets = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
